@import "../index.scss";

.home {

}

.form, .filters {
  margin: rem(20px 0);
  >* {
    margin-right: rem(20px);
    &:last-child {
      margin-right: 0;
    }
  }
  &__description {
    flex-basis: rem(475px);
  }
}

.form {
  &__price {
    min-width: rem(200px);
    font-size: rem(20px);
    display: flex;
    justify-content: flex-end;
    &-negative {
      color: red;
    }
  }
  &__bottom {
    margin: rem(40px 0);
  }
}
