@import '../index.scss';
$transitionHover: ease-in 200ms;
$transitionActive: ease-in 150ms;

$btn-blue: linear-gradient(to bottom, #7932ff, #564fff),
#fff, rem(solid 1px rgba(255, 255, 255, 0.15)),
linear-gradient(to bottom, #7932ff, #564fff),
rem(solid 1px rgba(255, 255, 255, 0.15)),
linear-gradient(to bottom, #6512e4, #605aff),
rem(solid 1px rgba(255, 255, 255, 0.15)), #706fa3,
rem(solid 1px rgba(255, 255, 255, 0.15));

@mixin btn-style(
  $colorBgDefault,
  $colorDefault,
  $borderDefault,
  $colorBgHover,
  $borderHover,
  $colorBgActive,
  $borderActive,
  $colorBgDisabled,
  $borderDisabled
) {
  background: $colorBgDefault;
  color: $colorDefault;
  border: $borderDefault;
  &:hover {
    background: $colorBgHover;
    border: $borderHover;
  }

  &:active {
    background: $colorBgActive;
    border: $borderActive;
  }

  &:disabled {
    background: $colorBgDisabled;
    border: $borderDisabled;
    cursor: not-allowed;
    user-select: none;
  }
}

.ux-button {
  @include base-sizes();
  height: rem(44px);
  cursor: pointer;
  border-radius: rem(5px);
  text-transform: uppercase;
  @include main-font(600);
  &:focus {
    outline: none;
  }

  &:hover {
    transition: $transitionHover;
  }

  &:active {
    transition: $transitionActive;
  }

  &__style {
    &_blue {
      @include btn-style($btn-blue...);
      &:hover {
        box-shadow: 0 6px 18px 0 rgba(86, 79, 255, 0.15);
        filter: brightness(125%);
      }
      &:active {
        box-shadow: 0 6px 18px 0 rgba(86, 79, 255, 0.25);
      }
    }
  }
}
