@import '../index.scss';

.ui-description {
  font-size: rem(16px);
  color: $primaryColor;
  @include main-font(500);
  &_heading {
    text-transform: uppercase;
    letter-spacing: rem(1.4px);
    opacity: .7;
  }
}
