.icon {
  width: 24px;
  height: 24px;
  -webkit-background-size: cover;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  &__instagram {
    background-image: url('src/static/img/icons/instagram.svg');
  }
  &__vk {
    background-image: url('src/static/img/icons/vk.svg');
  }
  &__github {
    background-image: url('src/static/img/icons/github.svg');
  }
  &__telegram {
    background-image: url('src/static/img/icons/telegram.svg');
  }
}
