@import '../index.scss';

.layout {
  display: flex;
  position: relative;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: auto;

  &_column {
    flex-direction: column;
  }

  &.l_no_flex {
    width: auto;
  }

  &.l_jc {
    &_center {
      justify-content: center;
    }

    &_flex-start {
      align-items: flex-start;
    }

    &_flex-end {
      justify-content: flex-end;
    }

    &_space-between {
      justify-content: space-between;
    }

    &_space-around {
      justify-content: space-around;
    }

    &_stretch {
      justify-content: stretch;
    }
  }

  &.l_ai {
    &_center {
      align-items: center;
      box-sizing: border-box;
    }

    &_flex-start {
      align-items: flex-start;
    }

    &_flex-end {
      align-items: flex-end;
    }

    &_stretch {
      align-items: stretch;
    }
  }

  &_size_auto {
    width: auto;
    height: auto;
  }

  &.border_show_all {
    border: 1px solid grey;
  }

  &.border_show_vertical {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }

  &.l {
    &_hidden {
      display: none;
    }

    &_disabled {
      opacity: 0.5;
    }

    &_wrap {
      flex-wrap: wrap;
    }
  }
}
