@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 200;
    }
    50% {
        stroke-dashoffset: 50;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 200;
        transform: rotate(450deg);
    }
}

.loader {
    &__wrapper {
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 25%;
    }

    &__spinner {
        display: inline-block;
        vertical-align: top;
        width: rem(20px);
        height: rem(20px);
        animation: rotator 1.4s linear infinite;
    }

    &__path {
        stroke: blue;
        stroke-dasharray: 200;
        stroke-dashoffset: 0;
        transform-origin: center;
        animation: dash 1.4s ease-in-out infinite;
    }
}

