@import '../index.scss';

.menu {
  &__item {
    padding: rem(10px 50px);
    &:last-child {
      padding-right: 0;
    }
    &_counter {
      position: relative;
    }
  }
  &__link {
    font-size: rem(16px);
    @include main-font(600);
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding-bottom: rem(5px);
    color: $primaryColor;
    &:hover {
      border-bottom: rem(2px solid #636363);
    }
  }
  &__counter {
    font-size: rem(14px);
    @include main-font(600);
    color: $secondaryColor;
    position: absolute;
    right: rem(-10px);
    top: rem(-10px);
  }
}
.active {
  border-bottom: rem(2px solid rgba(0, 0, 0, 0.7));
}
