@import '../index.scss';

.social-bar {
  min-width: rem(48px);
  width:  rem(48px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  &__link {
    display: flex;
    justify-content: flex-end;
  }
  &__item {
    margin-bottom:  rem(30px);
  }
}

.path {
  transform: rotate(90deg);
  top: rem(160px);
  position: relative;
  display: flex;
  &__title {
    font-size: rem(16px);
    @include main-font(500);
    text-transform: uppercase;
    letter-spacing: 1.2px;
    position: relative;
    color: $primaryColor;
    margin-left: rem(110px);
    &:before {
      content: '';
      position: absolute;
      background-color: $primaryColor;
      width: rem(80px);
      top: rem(8px);
      height: rem(2px);
      left: rem(-110px);
    }
  }
}
