@import 'index.scss';
@import 'components/header.scss';
@import 'components/icons.scss';
@import 'components/menu.scss';
@import 'components/layout.scss';
@import 'components/description.scss';
@import 'components/title.scss';
@import 'components/socialBar.scss';
@import 'pages/home.scss';

h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
  font-size: rem(16px);
}
ul,ol {
  padding: 0;
  margin: 0;
  font-size: 0;
}
a {
  text-decoration: none;
  color: $primaryColor;
  font-size: rem(16px);
}
body {
  font-size: rem(13px);
  @include main-font(500);
}

html {
  @include rem-baseline;
  @include desktop-high {
    @include rem-baseline(90%)
  }
}
.container {
  width: 90%;
  margin: auto;
}

